
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acafi | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  {% include 'libheader.html' %}

  {% include "header.html" %}

  {% include "sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Fondos
        <small>Exportar en zip</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <section class="col-lg-12">


          {% if response == '1' %}
            <div class="alert alert-error"><i class="fa fa-times-circle"></i> El administrador no tiene fondos <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}

          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-download"></i>
              <h3 class="box-title">Exportar fondos: 
              {{form.errors}}</h3>
            </div>
            <div class="box-body">
              
              <form action="/perfil/fondo/exportar_adm/" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <p>Fondos</p>
                   {{ form.adm }}
                </div>

                {% if administradores %}
                <table>
                {% for adm in administradores %}
                {% if adm.tiene_fondos == True %}
                <tr>
                  <td><a href="/perfil/fondo/exportar_adm/{{adm.rut}}"> {{ adm.razon_social }}</a></td>
                  
                </tr>
                {% endif %}
                {% endfor %}
              </table>
                {% endif %}

              <div class="box-footer clearfix">
                <button type="submit" id="submit_btn" class="pull-right btn btn-primary">
                  <i class="fa fa-download"></i></button>
              </div>
                

              </form>
            </div>
            
                {% if fondos %}
                {% for f in fondos %}
                  {{f.runsvs}} - {{f.nombre}}<br>
                {% endfor %}
                {% endif %}

          </div>

        </section>

      </div>
    </section>
  </div>

  <!-- /.content-wrapper -->


{% include "asidebar.html" %}

{% include 'footer.html' %}
</body>
</html>