
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acafi | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  {% include 'libheader.html' %}

  {% include "header.html" %}

  {% include "sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        FONDOS
        <small>DATOS FONDO</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/perfil">Dashboard</a></li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <section class="col-lg-12">

          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-signal"></i>
              <h3 class="box-title">DATOS FONDO  {{form.errors}}</h3>
            </div>

            <div class="box-body"> 
              <ul>
                <li> Rut: {{runsvs}}</li>
                <li> Nombre: {{nombrefondo}}</li>
                <li> Administradora: {{fondo.admin}}</li>
                <!--li> Categoría: {{fondo.categoria}}</li-->
                <li> Moneda de denominación: {{fondo_ext.divisa.nombre|default:"(no especificada)"}}</li>
                <li> Fecha Inicio Operaciones: {{fondo.inicio_operaciones}}</li>
                

              </ul>
            </div>

            <div class="box-body"> 
              
              <form action="/perfil/fondo/{{runsvs}}" method="post">
                {% csrf_token %}
                <!--div class="form-group">
                   <label>VALIDAR</label> {{ form.validado }}
                </div-->
                {{form.runsvs.as_hidden}}
                <div class="box-header">
                <i class="fa fa-signal"></i>
                <h3 class="box-title">DATOS EDITABLES</h3>
                </div>
                <label>CLASIFICACIÓN ACAFI</label>
                {% if request.user.is_superuser %}
                <div class="form-group">
                   {{ form.tipo_operaciones }} <!-- dropdown -->
                </div>
                {% else %}
                <div class="form-group">
                   {{ fondo.categoria|default:"(no especificada)" }} <!-- dropdown -->
                </div>
                {% endif %}

                <label>ESTRATEGIA DE INVERSIÓN</label>
                <div class="form-group">
                   {{ form.estrategia }}<!-- area -->
                </div>
                <label>COMISIÓN DE ADMINISTRACIÓN</label>
                <div class="form-group">
                   {{ form.comision }} <!-- area -->
                </div>
                <label>COMENTARIO PORTFOLIO MANAGER</label>
                <div class="form-group">
                   {{ form.comentario }}<!-- area -->
                </div>
                <label>MONEDA DE DENOMINACIÓN</label>
                <div class="form-group">
                   {{ form.moneda }}
                </div>
                <label>CÓDIGO BOLSA</label>
                <div class="form-group">
                   {{ form.codigo_bolsa }}
                </div>
                <label>BLOOMBERG</label>
                <div class="form-group">
                   {{ form.bloomberg }}
                </div>
                <label>ISIN</label>
                <div class="form-group">
                   {{ form.isin }}
                </div>
                <label>BOLSA OFFSHORE</label>
                <div class="form-group">
                   {{ form.bolsa_offshore }}
                </div>
                <label>PORTFOLIO MANAGER</label>
                <div class="form-group">
                   {{ form.portafolio_manager }}
                </div>

                <h3><label>CLASIFICACIÓN DE RIESGO</label></h3>
                <div class="form-group">
                   <label>FELLER RATE</label>
                   {{ form.riesgo_felier_rate }} <!-- json -->
                   <label>FITCH RATING</label>
                   {{ form.riesgo_fitch_ratings }} <!-- json-->
                   <label>COMISIÓN CLASIFICADORA DE RIESGO (CCR)</label>
                   {{ form.riesgo_comision }} <!-- json -->
                   <label>ICR</label>
                   {{ form.riesgo_icr }} <!-- json -->
                   <label>HUMPREYS</label>
                   {{ form.riesgo_humphreys }} <!-- json -->
                   
                </div>

               
                <!--div>
                  <!--textarea class="textarea" placeholder="Message"
                            style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </div-->

              <div class="box-footer clearfix">
                
                <button type="button" id="submit_btn2" class="pull-right btn btn-danger" data-toggle="modal" data-target="#myModal" style="margin-left:20px">Reportar error en algún campo
                </button>
                  

                <button type="submit" id="submit_btn" class="pull-right btn btn-primary">Guardar y Validar Información  
                  <i class="fa fa-save"></i></button>

              </div>
            
              </form>
            </div>

          </div>

        </section>

      </div>
    </section>
  </div>

  <!-- /.content-wrapper -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Marque los campos con error</h4>
      </div>
      <form action="/perfil/addbug/" method="post">
        {% csrf_token %}
      <div class="modal-body">
        {{form2.adm}} Administradora: {{nombrefondo}}<br/>
        {{form2.cat}} Categoría: {{fondo.categoria|default:"(no especificada)"}}<br/>
        {{form2.fir}} Rut CMF: {{runsvs}}<br/>
        {{form2.moneda}} Moneda de denominación: {{fondo_ext.divisa.nombre|default:"(no especificada)"}}<br/>
        {{form2.fi}} Fecha Inicio Operaciones: {{fondo.inicio_operaciones}}<br/>
         {{form2.fondo.as_hidden}}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Enviar</button>
      </div>
    </form>
    </div>

  </div>
</div>

{% include "asidebar.html" %}

{% include 'footer.html' %}
</body>
</html>