
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acafi | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  {% include 'libheader.html' %}

  {% include "header.html" %}

  {% include "sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Panel de Control</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <section class="col-lg-12">



        <div class="box box-info">
            <div class="box-header">
                <h3 class="panel-title"><i class="fa fa-list"></i> Lista de Fondos </h3>
            </div>

            <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-max-with">
                            <thead>
                            <tr>
                                <td class="text-left"> RUN SVS </td>
                                <td class="text-left"> Nombre</a>
                                    
                                <td class="text-left">Vigente </td>
                                <td class="text-left">Tipo fondo </td>
                                <td class="text-left">Categoria </td>
                                <td class="text-left">Acciones </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <form action="?{{url}}" method="GET" id="filter_rep">
                                  <input type="hidden" value = "{{ page }}", name="page">
                                <td class="text-left"><input type="text" name="filter_rut" value="{{ filter_rut|default:'' }}" placeholder="Rut SVS" id="input-rut" class="input-text" /></td>

                                <td class="text-left"><input type="text" name="filter_name" value="{{ filter_name|default:'' }}" placeholder="Nombre" id="input-name" class="input-text"/></td>

                                <td class="text-left">
                                  <select name="filter_vigencia" value="{{ filter_vigencia }}" id="input-vigencia">
                                    <option value="">Seleccione</option>
                                    <option value="1">Vigente</option>
                                    <option value="0">No vigente</option>
                                  </select>
                                  </td>                             
                                
                                <td class="text-left">
                                  <select name="filter_tipo_fondo" value="{{ filter_tipo_fondo }}" id="input-tipo-fondo">
                                    <option value="">Seleccione</option>
                                    <option value="1">Rescatable</option>
                                    <option value="0">No rescatable</option>
                                    <option value="2">Otros</option>
                                  </select>
                                  </td>

                                <td class="text-left">
                                  <select name="filter_categoria"  value="{{ filter_categoria }}" id="input-categoria">
                                    <option value="">Seleccione</option>
                                    {% if lista_categorias %}
                                    {% for cat in lista_categorias %}
                                    <option value="{{cat.indice}}">{{cat.indice}} {{cat.nombre}}</option>
                                    {% endfor %}
                                    {% endif %}
                                  </select>
                                  </td>
                                <td class="text-left">
                                <button type="submit" id="button-filter" class="btn btn-primary" data-toggle="tooltip" title="Buscar" ><i class="fa fa-search"></i></button>
                                </td>
                              </form>
                            </tr>
                            {% if lista_fondos %}
                            {% for lista in lista_fondos %}
                            <tr>
                                <td class="text-left">{{ lista.runsvs }} </td>
                                <td class="text-left">{{ lista.nombre }} </td>
                                <td class="text-left"> {{ lista.vigente }}</td>

                                <td class="text-left">
                                {% if lista.tipo_inversion == 1 %}
                                 Rescatable
                                {% endif %}
                                {% if lista.tipo_inversion == 0 %}
                                No Rescatable
                                {% endif %}
                                {% if lista.tipo_inversion == 2 %}
                                 Otros
                                {% endif %}
                                
                                </td>
                                <td class="text-left"> {{ lista.categoria|default:"--" }}</td>
                                    
                                <td class="text-left">
                                    {% if entrar_como and entrar_como != 0 %}
                                    <a href="/perfil/fondo/factsheet/{{lista.runsvs}}/{{ entrar_como }}/" data-toggle="tooltip" title="Ver fondo" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                    <a href="/perfil/fondo/factsheet/{{lista.runsvs}}/{{ entrar_como }}/" data-toggle="tooltip" title="Ver fondo" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                    
                                    <!--a href="/perfil/fondo/exportar/{{lista.runsvs}}/{{ entrar_como }}/" data-toggle="tooltip" title="Descargar" class="btn btn-primary"><i class="fa fa-download"></i></a-->
                                    {% else %}
                                    <a href="/perfil/fondo/factsheet/{{lista.runsvs}}/2017" data-toggle="tooltip" title="Ver Hoja1" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                    <!--a href="/perfil/fondo/factsheet/{{lista.runsvs}}/2" data-toggle="tooltip" title="Ver Hoja2" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                    <!--a href="/perfil/fondo/exportar/{{lista.runsvs}}/" data-toggle="tooltip" title="Descargar" class="btn btn-primary"><i class="fa fa-download"></i></a-->
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8">  No hay resultados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
        <div class="row">
          <div>


          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          
                          {% if filter_name  %}

                          <a href="?filter_name={{ filter_user }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if url %}
                          <a href='?{{url}}page={{ contacts.next_page_number }}'>>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>
          </div>
          <div class="col-sm-6 text-right">Total: {{ count }} Fondos</div>
        </div>
                </div>
            </div>
        </div>
        </div>

        </div>

        </div>
      </div>

         </section>

      </div>
    </section>
  </div>

  <!-- /.content-wrapper -->


{% include "asidebar.html" %}

{% include 'footer.html' %}
</body>
</html>