
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acafi | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  {% include 'libheader.html' %}

  {% include "header.html" %}

  {% include "sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Panel de Control</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12">


          {% if response == '1' %}
            <div class="alert alert-error"><i class="fa fa-times-circle"></i> No tiene los permisos para acceder a esta seccion <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}

          {% if response == '2' %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> Los datos fueron guardados con éxito <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}

          {% if response == '3' %}
            <div class="alert alert-error"><i class="fa fa-times-circle"></i> No existe el elemento seleccionado <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}

          {% if response == '4' %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> El reporte de error en la información ha sido enviado con éxito <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}
          <!-- quick email widget -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-envelope"></i>

              <h3 class="box-title">Lista de fondos</h3>

            </div>
      <div class="row">
        <section class="col-lg-12">

            <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-max-with">
                            <thead>
                            <tr>
                                <td class="text-left">Rut SVS</td>
                                <td class="text-left">Nombre del Fondo</a>                        
                                <td class="text-left">Administradora</td>
                                <td class="text-left">Vigente</td>
                                <td class="text-left">Rescatable</td>
                                <td class="text-left">Estado de Validación</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <form action="?{{url}}" method="GET" id="filter_rep">
                                <td class="text-left"><input type="text" name="filter_rut" value="{{ filter_rut }}" placeholder="Rut SVS" id="input-rut" class="input-text" /></td>
                                <td class="text-left"><input type="text" name="filter_name2" value="{{ filter_name2 }}" placeholder="Nombre fondo" id="input-name2" class="input-text" style="width:100%"/></td>

                                <td class="text-left"><input type="text" name="filter_name" value="{{ filter_name }}" placeholder="Nombre Administradora" id="input-name" class="input-text" style="width:100%"/></td>

                                <td class="text-left">

                                  </td>

                                <td class="text-left">

                                  </td>


                                 <td class="text-left"><input type="text" name="filter_anio" value="{{ filter_anio|default:'' }}" placeholder="Año" id="input-anio" class="input-text" style="width:100%"/></td>
                                <td class="text-left">

                                <td class="text-left">
                                <button type="submit" id="button-filter" class="btn btn-primary" data-toggle="tooltip" title="Buscar" ><i class="fa fa-search"></i></button>
                                </td>
                              </form>
                            </tr>
                            {% if lista_fondos %}
                            {% for lista in lista_fondos %}
                            <tr>
                                <td class="text-left">{{ lista.runsvs }} </td>
                                <td class="text-left">{{ lista.nombre }} </td>
                                <td class="text-left"> {{ lista.admin.razon_social }}</td>
                                <td class="text-left"> {{ lista.vigente|yesno:"Vigente, No Vigente" }}</td>
                                <td class="text-left"> {{ lista.tipo_inversion|yesno:"Rescatable, No Rescatable" }}</td>
                                <td class="text-left"> {{ lista.validado|yesno:"Validado, Pendiente" }}</td>
                                <td>
                                  <a href="/perfil/fondo/{{lista.runsvs}}" data-toggle="tooltip" title="Editar formulario" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                  <!--a href="/perfil/fondo/factsheet/{{lista.runsvs}}/1/2016/" ata-toggle="tooltip" title="Ver factsheet1" class="btn btn-primary"><i class="fa fa-file"></i></a>
                                  <a href="/perfil/fondo/factsheet/{{lista.runsvs}}/2/2016/" ata-toggle="tooltip" title="Ver factsheet2" class="btn btn-primary"><i class="fa fa-file"></i></a-->
                                </td>


                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8">  No hay resultados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
        <div class="row">
          <div>


          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          
                          {% if filter_name  %}

                          <a href="?filter_name={{ filter_user }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if url %}
                          <a href='?{{url}}page={{ contacts.next_page_number }}'>>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>
          </div>
        </div>
                </div>
            </div>
        </div>
        </div>

  
        </div>
      </div>
          </div>

        </section>

      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->


{% include "asidebar.html" %}

{% include 'footer.html' %}
</body>
</html>
