
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bolsa de Comercio de Stgo | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  {% include 'libheader.html' %}

  {% include "header.html" %}

  {% include "sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Panel de Control</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{nro_categ}}</h3>

              <p>Categorias</p>
            </div>
            <div class="icon">
              <i class="ion ion-funnel"></i>
            </div>
            <a href="/perfil/categorias/" class="small-box-footer">Más ... <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{nro_factsheets}}<br><sup style="font-size: 20px"></sup></h3>

              <p>Fondos Vigentes</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/perfil/fondos/" class="small-box-footer">Más ... <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{nro_users}}</h3>

              <p>Usuarios Registrados</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="/perfil/usuarios/" class="small-box-footer">Más ... <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{nro_admin}}</h3>

              <p>Administradores</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-stalker"></i>
            </div>
            <a href="/perfil/administradores/" class="small-box-footer">Más ... <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12">


          {% if response == '1' %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i>   El usuario ha sido asignado correctamente <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}

          {% if response == '2' %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i>  Los datos fueron guardados con éxito <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}

          {% if response == '3' %}
            <div class="alert alert-error"><i class="fa fa-times-circle"></i> No existe el elemento seleccionado <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}
            
            {% if response == '4' %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> El reporte de error en la información ha sido enviado con éxito<button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}
            {% if response == '5' %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> El pdf ha sido generado correctamente<button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}
          <!-- quick email widget -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-envelope"></i>

              <h3 class="box-title">Lista de fondos</h3>

            </div>
 <div class="row">
        <section class="col-lg-12">

            <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-max-with">
                            <thead>
                            <tr>
                                <td class="text-left">Rut SVS</td>
                                <td class="text-left">Nombre del Fondo</a>                        
                                <td class="text-left">Administradora</td>
                                <td class="text-left">Vigente</td>
                                <td class="text-left">Rescatable</td>
                                <td class="text-left">Estado de Validación</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <form action="?{{url}}" method="GET" id="filter_rep">
                                <td class="text-left"><input type="text" name="filter_rut" value="{{ filter_rut|default:'' }}" placeholder="Rut SVS" id="input-rut" class="input-text" /></td>
                                <td class="text-left"><input type="text" name="filter_name2" value="{{ filter_name2|default:'' }}" placeholder="Nombre fondo" id="input-name2" class="input-text" style="width:100%"/></td>

                                <td class="text-left"><input type="text" name="filter_name" value="{{ filter_name|default:'' }}" placeholder="Nombre Administradora" id="input-name" class="input-text" style="width:100%"/></td>


                                  {% if adm.rut == filter_name %}
                                  <option value="{{adm.rut}}" selected>{{adm.razon_social}}</option>
                                  {% else %}
                                  <option value="{{adm.rut}}">{{adm.razon_social}}</option>
                                  {% endif %}

                                <td class="text-left">
                                  <select name="filter_vigente" id="filter_vigente" value="{{ filter_vigente}}">
                                    {% if filter_vigente == '' %}
                                    <option value selected = "">Seleccione</option>
                                    {% else %}
                                    <option value = "">Seleccione</option>
                                    {% endif%}
                                    {% if filter_vigente == "True" %}
                                    <option value selected= "True">Vigente</option>
                                    {% else %}
                                    <option value = "True">Vigente</option>
                                    {% endif%}
                                    
                                    {% if filter_vigente == "False" %}
                                    <option value selected = "False">No vigente</option>
                                    {% else %}
                                    <option value = "False">No vigente</option>
                                    {% endif%}
                                    
                                  </select>
                                  

                                  </td>
                                  <td class="text-left"><input type="text" name="filter_anio" value="{{ filter_anio|default:'' }}" placeholder="Año" id="input-anio" class="input-text" style="width:100%"/></td>
                                <td class="text-left">

                                  </td>

                                <td class="text-left">
                                  <a type="button" id="button-export" class="btn btn-success" data-toggle="tooltip" title="Exportar" onclick="location.href='/perfil/exportar_fondos/';" ><i class="fa fa-file"></i></a>
                                <button type="submit" id="button-filter" class="btn btn-primary" data-toggle="tooltip" title="Buscar" ><i class="fa fa-search"></i></button>
                                </td>
                              </form>
                            </tr>
                            {% if lista_fondos %}
                            {% for lista in lista_fondos %}
                            <tr>
                                <td class="text-left">{{ lista.runsvs }} </td>
                                <td class="text-left">{{ lista.nombre }} </td>
                                <td class="text-left"> {{ lista.admin.razon_social }}</td>

                                <td class="text-left"> {{ lista.vigente|yesno:"Vigente, No Vigente" }}</td>
                                <td class="text-left"> {{ lista.tipo_inversion|yesno:"Rescatable, No Rescatable" }}</td>

                                <td class="text-left"> {{ lista.validado|yesno:"Validado, Pendiente" }}</td>
                                <td>
                                  <a href="/perfil/fondo/{{lista.runsvs}}" data-toggle="tooltip" title="Editar formulario" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                    
                                    {% if user.is_staff %}
                                    <!--a href="/perfil/asignar_fondo/{{lista.runsvs}}" data-toggle="tooltip" title="Asignar fondo a usuario" class="btn btn-primary"><i class="fa fa-male"></i-->
                                    {% endif %}
                                  {% if lista.vigente == True %}
                                  <a href="/perfil/fondo/factsheet/{{lista.runsvs}}/2017/" ata-toggle="tooltip" title="Ver factsheet" class="btn btn-primary"><i class="fa fa-file"></i></a>
                                  {% endif %}
                                  
                                  {% if lista.descargable == True %}
                                  <a type="button" id="button-export" class="btn btn-success" data-toggle="tooltip" href="/static/tmp/{{lista.runsvs}}.pdf"  data-original-title="Descargar" download><i class="fa fa-download"></i></a>


                                  <a type="button" id="button-export" class="btn btn-success" data-toggle="modal" data-target="#modal-default"
                                  onclick="regenerar('{{lista.runsvs}}')"   data-original-title="Regenerar PDF" download><i class="fa fa-spinner"></i></a>
                                  {% endif %}
                                  
                                  <!--a href="/perfil/fondo/factsheet/{{lista.runsvs}}/2/2016/" ata-toggle="tooltip" title="Ver factsheet2" class="btn btn-primary"><i class="fa fa-file"></i></a-->
                                </td>


                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8">  No hay resultados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
        <div class="row">
          <div>


          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          
                          {% if url  %}

                          <a href="?{{url}}page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if url %}
                          <a href='?{{url}}page={{ contacts.next_page_number }}'>>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>
          </div>
        </div>
                </div>
            </div>
        </div>
        </div>

  
        </div>
      </div>
          </div>

        </section>

      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->

<div class="modal fade" id="modal-default" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">El pdf se está creando ... </h4>
              </div>
              <div class="modal-body">
                <p>Espere un momento</p>
              </div>

            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>

{% include "asidebar.html" %}

{% include 'footer.html' %}

<script>
  function regenerar(runsvs){
  $.ajax({
  url: '/perfil/fondo/regenerar/'+runsvs,
  success: function(){
    $("#modal-default .close").click()
    alert("PDF "+runsvs+" creado");
  }
});

  }
</script>

</body>
</html>
