{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acafi | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static 'plugins/iCheck/square/blue.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
  <div class="login-logo" style="margin-top: 1%;">
      <img src="{% static 'dist/img/acafi-logo.png' %}" style="width: 360px;">
  </div>
<div class="login-box" style="margin: 1% auto;" >
  <!-- /.login-logo -->
  <div class="login-box-body">
    {% if response == 2 %}
    <div class="alert btn-success"><i class="fa fa-check-circle"></i>
    Se ha enviado un correo a su email con una contraseña provisoria
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    {% if response == 1 %}
    <div class="alert btn-danger"><i class="fa fa-exclamation-circle"></i>
    No existe el usuario
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
   

    

    <p class="login-box-msg">Ingrese su correo para restaurar su contraseña </p>

    <form action="{% url 'recuperar' %}" method="post">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Nombre de usuario o email" id="id_username" name="username">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <!--div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" id="id_password" name="password" >
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div-->
      <div class="row">

        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-flat">Recuperar contraseña</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


    
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
